streamlit
psycopg2
requests
bcrypt
streamlit
streamlit-authenticator
psycopg2-binary
sqlalchemy
pyautogui
streamlit_extras
langchain_community
pyautogui
pandas
langchain
pywhatkit
sqlparse
langchain-community
streamlit-mic-recorder
langchain
langchain-core
langchain-community
unstructured
langchain-ollama
zammad-py
streamlit_option_menu
langchain_experimental